<header class="site-header" role="banner">

    <div class="wrapper">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1" style="width: calc(30% - (30px / 2))">
            <img src="{{ "/asos.png" | relative_url }}"/>
        </div>
  
        <div class="footer-col footer-col-3" style="padding-left:0px;"><a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  </div>
  </header>